<mat-card class="card mb-4" *ngIf="member">
  <div class="card-img-wrapper">
    <img mat-card-image src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.userName}}" class="member-image">
    <div class="member-icons animate text-center">
      <button mat-icon-button routerLink="/members/{{member.userName}}">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button (click)="addLike(member)">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button (click)="addFollow(member)">
        <mat-icon>group_add</mat-icon>
      </button>
      <button mat-icon-button (click)="sendFriendRequest(member)">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </div>
  <mat-card-content class="p-1">
    <h6 class="text-center mb-1">
      <span [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(member.userName)">
        <mat-icon>person</mat-icon>
      </span>
        {{member.userName}}
    </h6>
    <p class="text-muted text-center">{{member.firstName}} {{member.lastName}}, {{member.age}}</p>
    <p class="text-muted text-center">{{member.city}}</p>
  </mat-card-content>
</mat-card>
