<div class="vh-100 gradient-custom">
  <div class="container py-2 h-25">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-4 col-md-8 col-lg-6 col-xl-5">
        <mat-card class="bg-primary mb-3" style="border-radius: 1rem;">
          <mat-card-content class="p-3 text-center">
            <div class="d-grid mb-3">
              <button mat-raised-button color="primary" routerLink="/admin/user-management" class="py-2">
                Go to User Management
              </button>
            </div>
            <div class="d-grid mb-3">
              <button mat-raised-button color="primary" routerLink="/admin/photo-management" class="py-2">
                Go to Photo Management
              </button>
            </div>
            <div class="d-grid mb-3">
              <button mat-raised-button color="primary" routerLink="/admin/lock-unlock" class="py-2">
                Go to Lock/Unlock User
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>