div[fxLayout="row"] {
  color: white;

  h1 {
    margin-bottom: 20px;
  }

  mat-card {
    margin-top: -70px;

    img {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 10px;
    }

    button {
      margin-top: 20px;
      padding-left: 20px;
    }
  }

  mat-form-field {
    margin: 10px 0;
  }

  mat-tab-group {
    margin-top: 20px;
  }

  div[fxFlex="75"] {
    padding: 20px;

    h4 {
      margin-bottom: 10px;
    }

    mat-form-field {
      margin: 10px 0;
    }

    button {
      margin-top: 20px;
    }

    div[fxLayout="row"] {
      mat-form-field {
        margin-right: 10px;
      }
    }
  }

  div[fxFlex="25"] {
    margin: 20px;
  }

  .member-image {
    max-width: 145px;
    max-height: 145px;
  }
}
