<div class="vh-100">
  <div class="container">
    <div class="row">
      <div class="col-4 col-md-8 col-lg-6 col-xl-5">
        <mat-card>
          <mat-card-content>
            <h2>Notifications</h2>
            <table class="table">
              <thead>
              <tr>
                <th style="width: 70%;">Content</th>
                <th style="width: 20%;">Date</th>
                <th style="width: 10%;"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let notification of notifications">
                <td>{{notification.content}}</td>
                <td>{{notification.createdAt | date}}</td>
                <td>
                  <button mat-icon-button color="primary" *ngIf="!notification.isRead" (click)="markAsRead(notification)">
                    <mat-icon>done</mat-icon>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
