.padding-class {
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: -70px;

  .d-flex {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
  }

  .col-2 {
    flex: 0 0 auto;
    width: 20%;
    margin-right: 10px;
  }
}

.d-flex.justify-content-center {
  margin-top: auto;
}

mat-paginator {
  margin-top: 160px;
}

