.padding-class {
  padding: 20px; // Add padding around the div
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; // Use viewport height to fill the screen
  padding: 20px;

  .d-flex {
    flex-grow: 1; // Allow this element to grow and fill the space
    justify-content: center;
    align-items: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }

  .col-2 {
    flex: 0 0 auto;
    width: 20%;
    margin-right: 10px;
  }
}

.d-flex.justify-content-center {
  margin-top: auto; // Push the element to the bottom
}
