<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="loadMembers()" autocomplete="off">
      <mat-form-field class="spacing">
        <mat-label>Age from</mat-label>
        <input matInput type="number" formControlName="minAge">
      </mat-form-field>

      <mat-form-field class="spacing">
        <mat-label>Age to</mat-label>
        <input matInput type="number" formControlName="maxAge">
      </mat-form-field>

      <mat-form-field class="spacing">
        <mat-label>Show</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genderList" [value]="gender.value">
            {{gender.display}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Apply Filters</button>
      <button mat-raised-button color="accent" type="button" (click)="onReset()">Reset Filters</button>
    </form>

    <mat-form-field class="spacing">
      <input matInput (keyup.enter)="onSearch()" placeholder="Search" #search>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSearch()">Search</button>
    <button mat-raised-button color="accent" (click)="onReset()">Reset</button>
  </mat-card-content>
</mat-card>

<div class="row" *ngIf="members.length > 0">
  <div class="col-2" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<mat-paginator [length]="pagination?.totalItems"
               [pageSize]="pagination?.itemsPerPage"
               [pageSizeOptions]="[5, 10, 25, 100]"
               [pageIndex]="pageNumber - 1"
               (page)="onPageChanged($event)">
</mat-paginator>