<div class="mb-4 d-flex">
  <mat-button-toggle-group name="container" [(ngModel)]="container" (change)="loadMessages()">
    <mat-button-toggle value="Unread">
      <mat-icon>mail_outline</mat-icon> Unread
    </mat-button-toggle>
    <mat-button-toggle value="Inbox">
      <mat-icon>mail</mat-icon> Inbox
    </mat-button-toggle>
    <mat-button-toggle value="Outbox">
      <mat-icon>send</mat-icon> Outbox
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<ng-container *ngIf="!messages || messages.length === 0">
  <h3>No messages</h3>
</ng-container>

<ng-container *ngIf="messages && messages.length > 0">
  <mat-table [dataSource]="messages" style="cursor: pointer;">
    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
      <mat-cell *matCellDef="let message"> {{message.content}} </mat-cell>
    </ng-container>

    <!-- Other columns here -->
    <!-- From / To Column -->
    <ng-container matColumnDef="fromTo">
      <mat-header-cell *matHeaderCellDef> From / To </mat-header-cell>
      <mat-cell *matCellDef="let message">
        <div *ngIf="container === 'Outbox'">
          <img class="img-circle rounded-circle me-2" [src]="message.recipientPhotoUrl || './assets/user.png'" alt="recipient photo">
          <strong>{{message.recipientUsername | titlecase}}</strong>
        </div>
        <div *ngIf="container !== 'Outbox'">
          <img class="img-circle rounded-circle me-2" [src]="message.senderPhotoUrl || './assets/user.png'" alt="sender photo">
          <strong>{{message.senderUsername | titlecase}}</strong>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Sent / Received Column -->
    <ng-container matColumnDef="sentReceived">
      <mat-header-cell *matHeaderCellDef> Sent / Received </mat-header-cell>
      <mat-cell *matCellDef="let message"> {{message.messageSent | timeago}} </mat-cell>
    </ng-container>

    <!-- Delete Button Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let message">
        <button mat-button color="warn" (click)="$event.stopPropagation(); deleteMessage(message.id)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</ng-container>

<ng-container *ngIf="!loading && pagination && messages && messages.length > 0">
  <mat-paginator [length]="pagination.totalItems" [pageSize]="pagination.itemsPerPage" [pageSizeOptions]="[5, 10, 20]" (page)="pageChanged($event)">
  </mat-paginator>
</ng-container>
